{sub_dirs,["src"]}.

{erl_opts, [
            warnings_as_errors,
            debug_info, export_all,
            {src_dirs, ["src"]}
           ]}.

{deps, [
        {jsx, ".*",
         {git, "git@github.com:talentdeficit/jsx.git", {branch, "master"}}},
        {getopt, ".*",
         {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}},
        {webbrowser, ".*",
         {git, "https://github.com/efine/webbrowser.git", {branch, "master"}}},
        {zucchini, ".*",
         {git, "https://github.com/devinus/zucchini.git", {branch, "master"}}}
       ]
}.

{escript_incl_apps, [bakeit]}.
{escript_top_level_app, bakeit}.
{escript_name, bakeit}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
